<.header>
  <p>Game session {"#{@game_session.id} - #{@game_session.short_code}"}</p>
  <p>Created By: {@game_session.created_by.email}</p>
  <p>Status: {@game_session.status}</p>
  <p>Current Player: {@current_player.email}</p>
</.header>
